// Colors
$clr-primary-blue: hsl(231, 69%, 60%);
$clr-primary-red: hsl(0, 94%, 66%);

$clr-neutral-gray: hsl(229, 8%, 60%);
$clr-neutral-darkblue: hsl(229, 31%, 21%);

// Font
$font-family-base: 'Rubik', sans-serif;
$font-size-base: 18px;
$font-weight-regular: 400;
$font-weight-bold: 500;

// Layout
$breakpoint-desktop: 1440px;
